<h1><%= @team.name %></h1>

<p>
  Hunt info goes here!
</p>

<%= join_or_leave_team_button(@hunt, @team) %>

<h3>Members:</h3>
<ul>
  <% @team.participants.each do |participant| %>
    <li>
      <%= link_to participant.name, user_path(participant) %>
    </li>
  <% end %>
</ul>
