<h1><%= @team.name %></h1>

<p>
  Hunt info goes here!
</p>

<%= button_to("Join Team", hunt_team_path(@hunt, @team), :method => "patch", :class => "submit") %>

<h3>Members:</h3>
<ul>
  <% @team.participants.each do |participant| %>
    <li>
      <%= link_to participant.name, user_path(participant) %>
    </li>
  <% end %>
</ul>
