<h1>New Hunt</h1>

<% if @hunt.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors and we could not save your hunt!</h3>
    <ul>
      <% @hunt.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "form", locals: {hunt: @hunt} %>
