<h2><%= @hunt.name %></h2>

<% if current_user == @hunt.owner %>
  <%= link_to "Edit Hunt", edit_hunt_path(@hunt) %> |
  <%= button_to "Delete Hunt", hunt_path(@hunt), :method => "delete", :class => "destroy" %>
<% end %>
