<h1>Welcome to Scavenger Hunt!</h1>

<% if current_user %>

  <%= link_to_team_for_active_hunt(current_user.active_hunt) %>

  <h2>Your Upcoming Hunts</h2>
  <%= display_upcoming_hunts_for(current_user) %>

  <h2>Nearby Hunts</h2>
  <%= display_nearby_hunts(@nearby_hunts) %>

<% else %>

  <h3>Check out our top five hunts!</h3>
  <%= display_hunts(@top_five) %>

<% end %>
