<h1>Welcome#index</h1>

<% if current_user %>

  <h2>Your Upcoming Hunts</h2>

  <ul>
    <% current_user.teams.each do |team| %>
      <% if team.hunt.status == "pending" %>
        <%= li_for_hunt(team.hunt, team, :with_date_and_team) %>
      <% end %>
    <% end %>
  </ul>

  <h2>Nearby Hunts</h2>

  <% if !!current_user.location %>
    <ul>
      <% current_user.location.pending_hunts.each do |hunt| %>
        <%= li_for_hunt(hunt, :with_date) %>
      <% end %>
    </ul>
  <% else %>
    <%= link_to "Add Your Location", edit_user_path(current_user) %>
  <% end %>

<% else %>

  <h3>Check out our top five hunts!</h3>
  <ol>
    <% Hunt.top_five.each do |hunt| %>
      <%= li_for_hunt(hunt, :with_date) %>
    <% end %>
  </ol>

<% end %>
