<h1>Welcome#index</h1>

<% if current_user %>

  <h2>Your Upcoming Hunts</h2>
  <%= display_upcoming_hunts_for(current_user) %>

  <h2>Nearby Hunts</h2>
  <%= display_nearby_hunts(@nearby_hunts) %>

<% else %>

  <h3>Check out our top five hunts!</h3>
  <%= display_hunts(@top_five) %>

<% end %>
