<h1>Welcome#index</h1>

<% if current_user %>

  <h2>Your Upcoming Hunts</h2>

  <ul>
    <% current_user.hunts.pending.each do |hunt| %>
      <li>
        <%= link_to hunt.name, hunt_path(hunt) %> | <%= link_to current_user.team(hunt).name, team_path(current_user.team(hunt)) %>
      </li>
    <% end %>
  </ul>

<% end %>
