<h1>Welcome#index</h1>

<% if current_user %>

  <h2>Your Upcoming Hunts</h2>

  <ul>
    <% current_user.teams.each do |team| %>
      <% if team.hunt.status == "pending" %>
      <!-- update this list so it displays by start date ascending -->
      <li>
        <%= link_to team.hunt.name, hunt_path(team.hunt) %> | <%= link_to team.name, team_path(team) %>
      </li>
      <% end %>
    <% end %>
  </ul>

<% end %>
