/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

section {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  float: left;
  display: block;
  color: white;
  padding: 20px;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
}

nav li:hover {
  background-color: #111111;
}

nav li a:hover {
  color: white;
  text-decoration: none;
}

div.field_with_errors input {
  border: 2px;
  border-style: solid;
  border-color: red;
}

li.upcoming_hunt {
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: #7DBD93;
  padding: 2px;
  display: inline-block;
}

h4#active_hunt_link {
  background-color: #7DBD93;
  padding: 10px;
  text-align: center;
}

h4#active_hunt_link a {
  font-weight: bold;
  color: #333333;
}

ul.hunt_list {
  list-style: none;
}

ul.hunt_list li {
  padding: 2px;
}

li.found {
  font-style: italic;
  color: #bdbdbd;
}

.center_text {
  text-align: center;
}
